[Unit]
Description=Run Pi Weather Logger every 15 minutes

[Timer]
OnBootSec=1min
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
